$primary: #0046AB;
$secondary: #55B9E4;
$dark: #4C4F54;
$muted: #707070;
$border-color: #CCCCCC;
$primaryLight: #a5bde1;
$secondaryLight: #c3e6f6;
$black: #4c4f54;
$default: #4c4f54;
$light: #fff;
$white: #FFFFFF;
$disabled: #AAAAAA;
$success: #44CD90;
$danger: #FF6E5D;
